.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
**/.DS_Store
**/ord_lab_q.qmd
**/*ordinal-regression.qmd
**/*-narrated-J.qmd
**/*Bayes_Lab_1_Coins.qmd
**/*_narrative.qmd
**/*Key.qmd
*Key_files/
*Key.html

/.quarto/
**/*.quarto_ipynb
