.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
**/.DS_Store
**/ord_lab_q.qmd
**/*ordinal-regression.qmd
**/*-narrated-J.qmd
**/*Bayes_Lab_1_Coins.qmd
**/*_narrative.qmd
**/*Key.qmd
*Key_files/
*Key.html
**/phase*
**/05-ordinal-regression-narrated*
**/ordinal_regression_J2*
**/temp
planning notes/
**/deck*

/.quarto/
**/*.quarto_ipynb
